[mysqld]
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=2
sync_binlog=0
# Try to replace O_DIRECT by O_DSYNC if you have "Operating system error number 22"
innodb_flush_method=O_DIRECT
transaction-isolation=READ-COMMITTED
binlog_cache_size=0
sql_mode=""
max_allowed_packet = 256M
default-time-zone=Europe/Moscow



[client]
port = 3306
socket = /var/lib/mysqld/mysqld.sock
default-character-set = utf8

[mysqld_safe]
nice = 0
socket = /var/lib/mysqld/mysqld.sock

[mysqld]

# Basic mysql server configuration
user = mysql
port = 3306
basedir = /usr
datadir = /var/lib/mysql
socket = /var/lib/mysqld/mysqld.sock
skip-external-locking
default-storage-engine = innodb
pid-file = /var/run/mysqld/mysqld.pid
transaction-isolation = READ-COMMITTED
max_allowed_packet = 16M
myisam-recover-options = BACKUP
explicit_defaults_for_timestamp = 1
expire_logs_days = 10
max_binlog_size = 100M
sql_mode = ""

# Cache parameters
query_cache_size = 32M
table_open_cache = 4096
thread_cache_size = 32
key_buffer_size = 16M
thread_stack = 128K
join_buffer_size = 2M
sort_buffer_size = 2M

# Parameters for temporary tables
tmpdir = /tmp
max_heap_table_size = 32M
tmp_table_size = 32M

# InnoDB parameters
innodb_file_per_table
innodb_buffer_pool_size = 32M
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 64M
innodb_flush_method = O_DIRECT

# Database charset parameters
character-set-server = utf8
collation-server = utf8_unicode_ci
init-connect = "SET NAMES utf8 COLLATE utf8_unicode_ci"
#skip-character-set-client-handshake
skip-name-resolve

[mysqldump]
quick
quote-names
max_allowed_packet = 16M
default-character-set = utf8

[mysql]

[isamchk]
key_buffer = 16M

#log
slow_query_log = on
slow_query_log_file = /var/log/mysql/mysql_slow.log
long_query_time = 1
#general_log = on
#general_log_file = /var/log/mysql/mysql.log
log_error = /var/log/mysql/mysql_error.log

# memory: 8192MB
[mysqld]
    query_cache_type = 1
    query_cache_size = 128M
    query_cache_limit = 16M
    innodb_buffer_pool_size = 3072M
    max_connections = 55
    table_open_cache = 12288
    thread_cache_size = 128
    max_heap_table_size = 128M
    tmp_table_size = 128M
    key_buffer_size = 96M
    join_buffer_size = 14M
    sort_buffer_size = 14M
    bulk_insert_buffer_size = 2M
    myisam_sort_buffer_size = 14M

#bitrix

innodb_strict_mode=OFF
sql_mode=""
#max_allowed_packet = 256M
default-time-zone="+03:00"